*{
    box-sizing: border-box;
}
body{
    font-family: Arial ;
    background-color:#e5dcdc;
    padding:10px;
    }

.encabezado2{
    padding: 25px;
    text-align: center;
    background-color: #eae3e3;
}

.encabezado2 h1{
    font-size: 48px;
    color: brown;
    font-family: Algerian;
    -webkit-text-stroke:0.3px #a32e2e;
    text-shadow: #FGADFE -2px 5px;
}

.menu2{
    background-color: #fdf2f4;
    overflow: hidden;

    padding:5px;
}

.menu2 a{
    float: left;
    display:  block;
    color:#9f4d98;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    

}
.menu2 a:hover{
    color:black;
   background-color: #f3dcf7; 
}

.izq2{
    float: left;
    width: 100%;
    background-color: #e8e0e0;
    font-family: Times New Roman;
    font-size: 20px;
    text-align: justify;
    
}
 
.foto1{
    float: left;
    width:33.33%;
    background-color: cornsilk;
   
    
}
.foto2{
    padding-left: 225px;
   background-color: #f7c0e1;
    float: left;
    width:33.33%;
    
   
    
}
.foto3{
    float: left;
    width:33.33%;
    background-color: cornsilk;
   
    
}
.cuerpo2::after{
    content: "";
    display: table; 
    clear: both;
}
.pie2{
    padding: .5px;
    margin-top: .5px;
    background-color: #f8e0fd;
    text-align: center;
    
}